h1 {
	color: white;
}

h3{
	color: white;
	border: 3px solid purple;
}

body {
	background-color:  #000000;

}

#images {
	color: white;
}


#nav {
	display: inline-block;
	text-align: right;
	float: right;
	margin-right: auto;

}