<!DOCTYPE html>
<html>
<head>
	<title>Contacts</title>
	<link rel="stylesheet" type="text/css" href="../css/contact.css">
</head>
<body>
	<h1>Contacts</h1>

		<h3> <a href="../test.html">Home</a> | <a href="Bio.html"> Bio</a> | <a href="gallery.html">Gallery</a> | <a href="Merchandise.html">Merchandise</a> | <a href="soundtracks.html">Soundtracks</a> </h3>

	<div id="images">
		<figure>
			<img src="../images/Instragram.png" alt="picture of a instagram logo" width="100px" height="100px" >
			<figcaption>@playboicarti</figcaption>
		</figure>
		<figure>
			<img src="../images/twitterlogo2.png" alt="picture of twitter logo" width="100px" height="100px" >
			<figcaption>@playboicarti</figcaption>
		</figure>
		<div id="nav">
		<figure>
			<img src="../images/playboirickowens.jpg" alt="picture carti performing" width="1000px" height="1000px" >
		</figure>
		</div>
	</div>



</body>
</html>
