<!DOCTYPE html>
<html>
<head>
	<title>Playboi carti Gallery</title>
	<link rel="stylesheet" type="text/css" href="../css/gallery.css">
</head>
<body>
	<div>
		<h1>Gallery</h1>
		<h3> <a href="../test.html">Home</a> | <a href="bio.html"> Bio</a> | <a href="merchandise.html">Merchandise</a> | <a href="soundtracks.html">Soundtracks</a> | <a href="contact.html">Contacts</a> </h3>
</div>

<div id="images">
	<figure>
		<img src="../images/playboipic1.jpeg" alt="picture of Playboi Carti wearing a Varsity jacket" width="300px" height="300px" >
		<figcaption>Playboi wearing a varsity jacket.</figcaption>
	 </figure>
	    <figure>
		<img src="../images/playboipic2.jpeg" alt="Picture of carti showing his gold grills" width="300px" height="300px">
		<figcaption>Carti is showing off his gold grills.</figcaption>
	</figure>
	<figure>
		<img src="../images/playboipic3.jpg" alt="Picture of Carti holding his dreads and smiling." width="300px" height="300px">
		<figcaption>Carti is holding up his dreads</figcaption>
	</figure>
	<figure>
		<img src="../images/playboipic4.jpeg" alt="Picture of Carti holding his chain up." width="300px" height="300px">
		<figcaption>Playboi is holding up his chain.</figcaption>
	</figure>
	<figure>
		<img src="../images/playboipic5.jpeg" alt="Picture of Carti showing off his grills and stcking out his tounge." width="300px" height="300px">
		<figcaption>Carti is showing his grills and sticking out his tounge.</figcaption>
	</figure>
	<figure>
		<img src="../images/playboybunny.jpg" alt="Picture of a Playboy bunny." width="300px" height="300px">
		<figcaption>Playboy Bunny</figcaption>
	</figure>
	<figure>
		<img src="../images/playboipic6.jpeg" alt="Picture of Carti wearing a Black windreaker." width="300px" height="300px">
		<figcaption>Playboi Carti is wearing a black windbreaker.</figcaption>
	</figure>
	<figure>
		<img src="../images/playboipic7.jpeg" alt="Picture of Hearts around Playboi Carti's head." width="300px" height="300px">
		<figcaption>Playboi has hearts around his head.</figcaption>
	</figure>
	<figure>
		<img src="../images/vlonepic.jpeg" alt="Picture of Vlone logo." width="300px" height="300px">
		<figcaption>Playboi Models Vlone and this is the company's logo.</figcaption>
	</figure>
	<figure>
		<img src="../images/playboirickowens.jpg" alt="Picture of Playboi Carti performing at the VFILES fashion show." width="300px" height="300px">
		<figcaption>Playboi is performing at the Vfiles fashion show.</figcaption>
	</figure>
	<figure>
		<img src="../images/playboipic8.jpg" alt="Picture of carti in the middle of the street." width="300px" height="300px">
		<figcaption>Carti is posing for a pic in the middle of the street.</figcaption>
	</figure>
	<figure>
		<img src="../images/playboicartoon.jpeg" alt="picture of playboi Carti in cartoon form." width="300px" height="300px">
		<figcaption>This is Carti is cartoon form.</figcaption>
	</figure>
</div>


</body>
</html>