<!DOCTYPE html>
<html>
<head>
	<title>Merchandise</title>
	<link rel="stylesheet" type="text/css" href="../css/Merchandise.css">
</head>
<body>
	<h1>Merchandise</h1>
		<h3> <a href="../test.html">Home</a> | <a href="bio.html"> Bio</a> | <a href="gallery.html">Gallery</a> | <a href="soundtracks.html">Soundtracks</a> | <a href="contact.html">Contacts</a> </h3>
<div>
	<figure>
		<img src="../images/cartishirt3.png" alt="picture of one of playboi carti shirts." width="300px" height="300px" >
	</figure>
<div id="pic2">
	<figure>
		<img src="../images/cartimerch.png" alt="Picture of mercahndise from playboi carti concert." width="300px" height="300px" >
	</figure>
</div>
	<figure>
		<img src="../images/cartit.png" alt="another t-shirt of one of playboi carti merch." width="300px" height="300px" >

	</figure>



</body>
</html>