<!DOCTYPE html>
<html>
<head>
	<title>soundtracks</title>
	<link rel="stylesheet" type="text/css" href="../css/soundtracks.css">
</head>
<body>
	<h1>Soundtracks</h1>

	<h3> <a href="../test.html">Home</a> | <a href="bio.html"> Bio</a> | <a href="gallery.html">Gallery</a> | <a href="merchandise.html">Merchandise</a> | <a href="contact.html">Contacts</a> </h3>
<div id="images">
		<figure>
			<img src="../images/heavycover.jpg" alt="Picture of heavy cover single." width="300px" height="300px" >
			<figcaption>HEAVY</figcaption>
		</figure>
		<figure>
			<img src="../images/abudancecover.jpg" alt="Picture of playboi carti fan mixtape." width="300px" height="300px" >
			<figcaption>Abudance Mixtape Cover</figcaption>
		</figure>
		<figure>
			<img src="../images/witthefanta.jpg" alt="Picture of playboi carti single wit the fanta." width="300px" height="300px" >
			<figcaption>WIT THE FANTA</figcaption>
		</figure>
		<figure>
			<img src="../images/crumbscover.jpg" alt="Picture of crumbs by Dram featuring Playboi carti." width="300px" height="300px" >
			<figcaption>CRUMBS Ft Playboi Carti</figcaption>
		</figure>
</div>
</body>
</html>